/* CONTACT ----------*/

.contactgridcontainer {
	padding-left: 25px;
	margin-bottom: 5px;
	display: grid;
	grid-template-columns: 250px 10px;
}

.contactGrid {
	margin-left: 35px;
	margin-top: 5px;
	display: grid;
	grid-template-columns: 150px 450px;
}
.contactGrid > div {
	margin-top: 10px;
	background-color: #dbd5d5;
	align-items: left;
	border-radius: 5px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	box-shadow: 12px -4px 8px rgb(155, 151, 151);
}

.contactGridLabels {
	margin: 30px 0px 0px 10px;
	min-height: 35px;
	vertical-align: top;
	padding: 0px;
	font-weight: bold;
}

/* ADD OFFER ----------*/

.addgridcontainer {
	padding-left: 25px;
	margin-bottom: 5px;
	display: grid;
	grid-template-columns: 250px 800px;
}

.addGrid {
	margin-left: 150px;
	display: grid;
	grid-template-columns: 200px 600px;
	padding: 20px 0px 0px 0px;
	margin-bottom: 0;
}

.addGrid > div {
	margin-top: 10px;
	background-color: #dbd5d5;
	align-items: left;
	border-radius: 5px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	box-shadow: 12px -4px 8px rgb(155, 151, 151);
}
.addGridLabels {
	margin: 30px 0px 0px 10px;
	min-height: 35px;
	vertical-align: top;
	padding: 0px;
	font-weight: bold;
}

/* UNIVERSAL ----------*/

/* DATA ----------*/
.datagrid {
	margin-top: 10px;
	padding: 0px 5%px 0px 5px;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	grid-column-gap: 10px;
}

.datagrid-col {
	flex: 0 0 auto;
	padding: 0 0.5rem 0.5rem;
	box-sizing: border-box;
	border-collapse: collapse;
	grid-column-gap: 10px;
	border-radius: 5px;
	border-bottom: 1px solid black;
}

.datagrid-col_1 {
	flex-basis: 20%;
	max-width: 20%;
}

.datagrid-col_2 {
	flex-basis: 20%;
	max-width: 20%;
}

.datagrid-col_3 {
	flex-basis: 20%;
	max-width: 20%;
}

.datagrid-col_4 {
	flex-basis: 40%;
	max-width: 40%;
}

.grid {
	padding: 0px 5px 15px 50px;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: center;
	grid-column-gap: 10px;
}

.grid-col {
	flex: 0 0 auto;
	padding: 0 0.5rem 0.5rem;
	box-sizing: border-box;
}

.grid-col_1 {
	flex-basis: 30%;
	max-width: 30%;
}

.grid-col_3 {
	flex-basis: 30%;
	max-width: 30%;
}

.grid-col_5 {
	flex-basis: 30%;
	max-width: 30%;
}

.datagrid {
	padding: 0px 5px 0px 5px;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	grid-column-gap: 10px;
	border-radius: 5px;
}

.datagrid-col {
	flex: 0 0 auto;
	padding: 0 0.5rem 0.5rem;
	box-sizing: border-box;
	border-collapse: collapse;
	grid-column-gap: 10px;
}

.datagrid-col_1 {
	flex-basis: 15%;
	max-width: 15%;
}

.datagrid-row_1 {
	max-height: auto;
}

.serverData {
	border-radius: 5px;
	border-bottom: 1px solid black;
}

.datagrid-col_2 {
	flex-basis: 15%;
	max-width: 15%;
}

.datagrid-col_3 {
	flex-basis: 15%;
	max-width: 15%;
}

.datagrid-col_4 {
	flex-basis: 55%;
	max-width: 55%;
}
/* STORY ----------*/

.storygrid {
	padding: 0px 5px 0px 5px;

	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.storygrid-col {
	flex: 0 0 auto;
	padding: 0 0.5rem 0.5rem;
	box-sizing: border-box;
	border: 5px groove rgb(85, 128, 104);
	border-collapse: collapse;
	margin: 20px;
	background-color: lightgray;
	border-radius: 0px 15px 0px 0px;
}

.storygrid-col_1 {
	flex-basis: 45%;
	max-width: 45%;
	display: inline-flexbox;
	box-shadow: 12px -4px 8px silver;
}

.storygrid-row_1 {
	max-height: auto;
	border-top: 2px dashed black;
}

.storygrid-col_2 {
	flex-basis: 45%;
	max-width: 45%;
	display: inline-flex;
	box-shadow: 12px -4px 8px silver;
}

.storygrid-col_3 {
	flex-basis: content;
	display: inline-flexbox;
	max-width: 50%;
	float: right;
	vertical-align: top;
	border-left: 2px dashed black;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
}

/* LANDING ----------*/
/* .gridSearch {
	padding: 0px 5px 50px 50px;
	display: flex;
	flex: 0 1 auto;

	flex-direction: row;
	flex-wrap: wrap;

	justify-content: flex-start;
	align-items: flex-start;
	text-align: center;

	grid-column-gap: 10px;
}

.gridSearch-col {
	flex: 0 0 auto;
	padding: 0 0.5rem 0.5rem;
	box-sizing: border-box;
}
.gridSearch-col_1 {
	flex-basis: 30%;
	max-width: 30%;
} */
