/* CONTAINER ----------*/

.container {
	padding: 15px 20px 15px 60px;
	min-height: 475px;
	border-right: 15px solid black;
	border-left: 15px solid black;
	background-color: rgb(174, 199, 179);
}

.container {
	padding: 15px 50px 15px 50px;
	min-height: 475px;
	border-right: 15px solid black;
	border-left: 15px solid black;
}

/* ELEMENTS ----------*/
h2 {
	margin: 0px 0px 25px 0px;
	vertical-align: top;
}

h4 {
	margin: 20px 0px 5px 0px;
}

th {
	text-align: left;
}

tr {
	height: 35px;
	border-bottom: 1px solid black;
	border-radius: 5px;
}

.status {
	width: 150px;
}

.date {
	width: 400px;
}

.location {
	width: 250px;
}

.description {
	width: 800px;
}

/* SHARED ----------*/
.pageText {
	background-color: rgb(123, 170, 123);
	padding: 10px;
	height: 25%;
	border-radius: 0px 25px 0px 0px;
	box-shadow: 12px -4px 8px rgb(155, 151, 151);
}

.pageText2 {
	margin-top: 10px;
	background-color: silver;
	padding: 10px;
	height: 25%;
	border-radius: 0px 25px 0px 0px;
	box-shadow: 12px -4px 8px rgb(155, 151, 151);
	box-sizing: border-box;
}

.btn {
	background-color: #00acb0;
	border-radius: 4px;
	color: #f8f8f8;
	display: inline-block;
	padding: 10px;
	outline: 0;
	cursor: pointer;
	font-size: 1.1rem;
}

.btn_sizeMin {
	min-height: 100px;
	min-width: 150px;
}

.btn_sizeFull {
	display: block;
	width: 100%;
}

.btn:hover {
	background-color: #008183;
	text-decoration: none;
}

.button {
	background-color: green;
	border-radius: 4px;
	color: #f8f8f8;
	min-height: 25px;
	min-width: 75px;
	outline: 0;
	cursor: pointer;
	font-size: 20px;
}

/* LANDING ----------*/
.searchInput {
	min-width: 500px;
	max-width: 800px;
	font-size: 18px;
}

.current_regnow {
	font-size: 14px;
	font-style: italic;
	display: inline;
}

/* CONTACT ----------*/
.contactus {
	margin-left: 25%;
	padding: 0;
	margin-bottom: 0;
}

.formfields > input {
	margin-top: 20px;
	min-height: 30px;
	width: 400px;
	vertical-align: top;
}

.contactSubmitBtn {
	background-color: green;
	border-radius: 4px;
	color: #f8f8f8;
	min-height: 50px;
	min-width: 100px;
	outline: 0;
	cursor: pointer;
	margin: 20px 0px 20px 0px;
}
